*{
    font-family: sans-serif;
    margin: 0px;
}
body{
    background-color: #10161F;
}
.box{
    max-width: 300px;
    min-width: 200px;
    width: 30%;
    position: absolute;
    background-color: #1D2636;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
    padding-bottom: 30px;
}
.heading{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}
.heading h3{
    text-align: center;
    font-size: 10px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}
.input-field{
    color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 25px;
    width: 80%;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
.input-field:focus{
    outline: none;
    background-color:#202575;
}
.submit-btn{
    cursor: pointer;
    height: 28px;
    background-color: #4AB8D0;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    margin-bottom: 5px;
}
.reg-btn{
    color: #fff;
    cursor: pointer;
    height: 28px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.response_ng{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-top: 8px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 25px;
    background-color: rgba(255, 0, 0, 0.705);
}
.response_g{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-top: 8px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 25px;
    background-color: rgba(0, 255, 0, 0.705);
}