* {
  color: rgb(255, 255, 255);
}
body {
  background-color: #10161f;
  overflow: hidden;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.notifi {
  z-index: 11;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400;
  padding: 6px;
  font-family: sans-serif;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 0);
  visibility: hidden;
  opacity: 0;
  transition: 200ms;
}
.notifi-green {
  background-color: rgba(62, 219, 0, 1);
}
.notifi-red {
  background-color: rgba(197, 52, 0, 1);
}
.notifi--visible {
  top: 100px;
  opacity: 1;
  visibility: visible;
}
.grid {
  width: 100%;
  height: calc(100% - 80px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
}
.Add {
  position: relative;
  width: 100%;
}
.Add img {
  width: 100%;
  bottom: 0;
}
.rescuetrack {
  z-index: 3;
  height: 100%;
  width: 100%;
  grid-area: 1 / 2 / 2 / 3;
  border: none
}
.forms{
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  gap: 0px 0px;
}
.switch{
  grid-area: 2 / 1 / 3 / 2;
  width: 200%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  transform: translateX(0);
  transition: all ease 500ms;
  overflow: hidden;
}
.switch.dasfas{
  transform: translateX(-50%);
}
.head{
  display: flex;
  justify-content: center;
  align-content: center;
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  color: #fff;
}
.head button{
  background-color: #10161f;
}
.Prim {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 20px 20%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 20px;
}
.edit{
  position: absolute;
  background-color: #10161f;
  transform: translateX(-100%);
  z-index: 6;
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 20px 20%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 20px;
  transition: all ease 500ms;
}
.show{
  transform: translateX(0);
}
.Sek{
  grid-area: 1 / 2 / 2 / 4;
  z-index: 1;
}
.Prim input, .edit input {
  color: #fff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 25px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

.Prim #Alarmieren{
  cursor: pointer;
  position: relative;

  background: transparent;
  color: white;
  border: 2px solid white;
  font-size: 1.5vm;
  min-height: 40%;
  max-height: 90%;
  width: 90%;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  border: 2px solid #C70039;
}

#Alarmieren:hover{
  border: 2px solid white;
}

#Alarmieren:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #C70039 ;
}

#Alarmieren:hover:after,
#Alarmieren:active:after {
  width: 100%;
}

.forms #Anlegen{
  color: #fff;
  cursor: pointer;
  min-height: 40%;
  max-height: 60%;
  width: 90%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #239b56;
  position: relative;
  font-size: 1.5vm;
}

#Anlegen:hover{
  background-color: #239b56;
  color:white;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  border: 2px solid  white;
}

.Anlegen, .Alarmierung{
  display: flex;
  align-items: center;
  justify-content: center;
}

.select{
  max-width: 100%;
  color: #fff;
  cursor: pointer;
  height: 28px;
  border: 1px solid #4AB8D0;
  background-color:rgb(29, 38, 54);
}
.select option{
  height: 10px;
  color: #fff;
  height: 28px;
  background-color: rgb(29, 38, 54);
}
.Datum {
  grid-area: 1 / 1 / 2 / 2;
}
.Uhrzeit {
  grid-area: 1 / 2 / 2 / 3;
}
.Autragsnummer {
  grid-area: 1 / 3 / 2 / 4;
}
.Objekt {
  grid-area: 2 / 1 / 3 / 3;
}
.Etage {
  grid-area: 2 / 3 / 3 / 4;
}
.Straße {
  grid-area: 3 / 1 / 4 / 3;
}
.HNR {
  grid-area: 3 / 3 / 4 / 4;
}
.Ort {
  grid-area: 4 / 1 / 5 / 2;
}
.Ortsteil {
  grid-area: 4 / 2 / 5 / 3;
}
.Patient {
  grid-area: 5 / 1 / 6 / 2;
}
.Anrufer {
  grid-area: 5 / 2 / 6 / 3;
}
.Stichwort {
  grid-area: 6 / 1 / 7 / 2;
}
.Infos {
  grid-area: 6 / 2 / 7 / 3;
}
.Zusatz {
  grid-area: 6 / 3 / 7 / 4;
}
.Fahrzeug {
  grid-area: 1 / 5 / 2 / 6;
}
.Fax {
  grid-area: 2 / 5 / 3 / 6;
}
.Anlegen {
  grid-area: 3 / 5 / 4 / 6;
}
.Alarmierung {
  grid-area: 4 / 5 / 5 / 6;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 15px 15px;
  grid-area: 2 / 1 / 3 / 3;
}
.InfoTable {
  text-align: center;
  margin-top: 5px;
  width: 100%;
}
.InfoTable tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.74);
}
.cols th {
  padding: 5px;
  font-size: 18px;
}
.tableau {
  background-color: rgb(29, 38, 54);
  width: 100%;
  height: 100%;
  grid-area: 1 / 3 / 3 / 4;
}
.LaufendeEinsätze {
  background-color: rgb(29, 38, 54);
  width: 100%;
  height: 100%;
  grid-area: 1 / 2 / 3 / 3;
}
.AngelegteEinsätze {
  background-color: rgb(29, 38, 54);
  height: 100%;
  width: 100%;
  grid-area: 1 / 1 / 3 / 2;
}
.heading {
  margin: 5px;
  padding: 8px;
  border-bottom: solid 2px #4AB8D0;
  font-size: 30px;
}
.refresh {
  cursor: pointer;
  float: right;
  font-size: 30px;
}
.iconButton{
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
}
.iconButton:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  
}